
.vscode/settings.json
.vscode/launch.json
.idea/vcs.xml
.idea/modules.xml
.vscode/settings.json
.vscode/settings.json
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/Data Scince Project on DataCamp.iml
Python Projects/Give Life_ Predict Blood Donations/.ipynb_checkpoints/notebook-checkpoint.ipynb
